<% @notifications.each do|infomation| %>
  <% if infomation.action=="like"%>
    <tr>
      <td>
        <%= link_to notification_form(infomation), posts_show_path(infomation.post_id) %><br>
      </td>
    </tr>
  <% else %>
    <tr>
      <td>
        <%= link_to notification_form(infomation), posts_show_path(infomation.post_id) %><br>
      </td>
    </tr>
  <% end %>
<% end %>