<table class="table table-hover" >
  <tbody>
    <tr>
      <td>
        <% @posttags.each do |pottag| %>
            <%=  posttag.post.content %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>